#ignore python compile files
*.pyc
credentials/*
# ignore settings
hydrafloodviewer/settings.py
mts/*
mapclient/external_scripts/*
/mapclient/external_scripts
mapclient/backup.py
# vendore files
hydrafloodviewer/static/vendor/*
static/vendor/*
static/js/map-backup.js
static/app/*
db.sqlite3
static/data/*
#node and related environment files
.npmignore
.sqlite3
node_modules/
__pycache__/

# Additional
gulpfile.js
assets.js
.csslintrc
.jshintrc
package.json
package-lock.json