#ignore python compile files
*.pyc
credentials/*
# ignore settings
hydrafloodviewer/settings.py
mts/*
# vendore files
hydrafloodviewer/static/vendor/*
static/vendor/*
static/app/*
db.sqlite3
#node and related environment files
.npmignore
.sqlite3
node_modules/
__pycache__/

# Additional
gulpfile.js
assets.js
.csslintrc
.jshintrc
package.json
package-lock.json