{% extends "base.html" %}
{% load static %}

<!-- CSS files -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block container %}

{% include 'navigation.html' %}

<div class="container-fluid about">
    <div class="row">
        <div class="col-md-6 mt-5">
            <h1 class="h2 fw-bold pt-5">About HYDRAFloods</h1>
            <p class="fs-5 pt-3"><span class="fw-bold about-hf">HYDRAFloods</span> is a publicly available web-based near real-time flood monitoring tool. It is designed to improve flood monitoring system using freely available satellite remote sensing data. This tool is benefitted by applying Artificial intelligence (AI) technique to detect floods more accurately. This tool helps emergency response and relief sectors by providing more accurate flood information and it's extent.</p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/flooded-img.jpg' %}" class="img-fluid">
        </div>
    </div>
    <!-- <img src="{% static 'images/vill-flood.jpg' %}" class="img-fluid" height=50%> -->
    <div class="row mt-5 mb-5">
        <h3 class="h4 fw-bold pb-3">WORKING AREA</h3>
        <div class="row text-center">
          <div class="col-md-2">
            <img class="img-fluid mt-5" src="https://s3.amazonaws.com/images.wpr.com/flag-pages/png250/kh.png" width="150px"
              alt=""><br>
            <h5 class="text-center fw-bold pt-4">Cambodia</h5>
          </div>
          <div class="col-md-3">
            <img class="img-fluid mt-5" src="https://s3.amazonaws.com/images.wpr.com/flag-pages/png250/la.png" width="150px"
              alt=""><br>
            <h5 class="text-center fw-bold pt-4">Laos</h5>
          </div>
          <div class="col-md-2">
            <img class="img-fluid mt-5" src="https://s3.amazonaws.com/images.wpr.com/flag-pages/png250/mm.png" width="150px"
              alt=""><br>
            <h5 class="text-center fw-bold pt-4">Myanmar</h5>
          </div>
          <div class="col-md-3">
            <img class="img-fluid mt-5" src="https://s3.amazonaws.com/images.wpr.com/flag-pages/png250/th.png" width="150px"
              alt=""><br>
            <h5 class="text-center fw-bold pt-4">Thailand</h5>
          </div>
          <div class="col-md-2">
            <img class="img-fluid mt-5" src="https://s3.amazonaws.com/images.wpr.com/flag-pages/png250/vn.png" width="150px"
              alt=""><br>
            <h5 class="text-center fw-bold pt-4">Vietnam</h5>
          </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    {% include 'our-team.html' %}
</div>
<div class="container-fluid mt-5">
    {% include 'partners.html' %}
</div>
{% include 'footer.html' %}

{% endblock container %}



