{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="The HYDRAFloods Viewer is a web application used to view flood map results from the HYDRAFloods processing package along with additional hydrologic variables">
	<meta name="author" content="SERVIR MEKONG">
	<meta name="keywords" content="Hydraflood, Hydrafloods viewer, Flood, SERVIR Flood, SERVIR Hydraflood, SERVIR MEKONG, Mekong region, Myanmar, Thailand, Laos, Cambodia, Vietnam">
	<title>HydraFloods Viewer</title>
    
    <!-- favicon -->
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png" sizes="16x16">
    
    <!-- ==== load CSS files === -->  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}">
    
    <!-- Bootstrap Date Picker -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'vendor/components-font-awesome/css/all.min.css' %}">
	
    <!--Plugin CSS file with desired skin-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
    
    <!-- Bootstrap Slider CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css" integrity="sha512-3q8fi8M0VS+X/3n64Ndpp6Bit7oXSiyCnzmlx6IDBLGlY5euFySyJ46RUlqIVs0DPCGOypqP8IRk/EyPvU28mQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- Hover CSS -->
    <link rel="stylesheet" href="{% static 'vendor/hover/css/hover-min.css' %}" >

    <!-- MapBox CSS -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
    
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />

    <!-- Custom CSS files -->
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/partners.css' %}">
    
    <!-- Extra CSS files -->
    {% block extra_css %}{% endblock %}
    
</head>
<body>
    
    {% block container %}{% endblock %}

    <script src="/static/data/adm0.geojson"></script>
    <script src="/static/data/adm1.geojson"></script>
    <script src="/static/data/adm2.geojson"></script>
    <script src="/static/data/hospital.geojson"></script>
    <script src="/static/data/education.geojson"></script>
    <!-- == Load JS files == -->
	<!-- jQuery -->
	<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
	
    <!-- Bootstrap JS -->
	<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js'  %}"></script>
	
    <!-- Bootstrap Date Picker Plugins -->
	<script src="{% static 'vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    
    <!-- ion-rangeslider javaScript plugin file-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
    
    <!-- Bootstrap Slider JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js" integrity="sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- MapBox JS -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    
    <!-- Extra JS files -->
    {% block extra_script %}{% endblock %}
</body>
</html>