{% extends "base.html" %}
{% load static %}

<!-- CSS files -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block container %}

{% include 'navigation.html' %}

<div class="bg-light ms-0 me-0 ps-0 pe-0 mt-0 pt-0 p-0">
    <div class="jumbotron text-left">
        <div class="jumbotron-card">
            <div class="container-fluid">
                <h1>HYDRAFloods</h1>
                <h3><span class="jmb-highlight">HYD</span>rologic <span class="jmb-highlight">R</span>emote Sensing <span class="jmb-highlight">A</span>nalysis for <span class="jmb-highlight">Floods</span></h3>
                <a href="/map" class="btn btn-jumbotron btn-lg hvr-bounce-to-right" role="button">LAUNCH TOOL</a>
                <p>The publicly available, web-based service delivering near real-time information for improved flood monitoring.</p>
                <p class="pt-3">Designed to provide information on flood location and extent to assist with flood preparedness, emergency response and relief efforts.</p>
            </div> 
        </div>
    </div>
</div>
<!-- Main Container -->
<div class="container-fluid fld-dashboard">
    <h2 class="h4 fw-bold">POTENTIAL FLOOD IMPACTS DASHBOARD</h2>
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card card-body border-0 p-0">
                <img src="{% static 'images/flood-demo.png' %}" alt="">
            </div>
            <div class="card card-body border-0 p-0 pt-4">
                <a href="/map" class="btn btn-jumbotron btn-lg hvr-bounce-to-right" role="button">LAUNCH TOOL</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-body border-0 mt-5 p-0">
                <ul class="fs-5">
                    <li class="pt-4"><i class="fas fa-users fa-lg ps-3"></i><span class="fw-bold ps-3">175, 872</span> <span>households affected</span></li>
                    <li><img class="ps-3" src="{% static 'images/displaced.png' %}" style="width: 2.43em;"><span class="fw-bold ps-3">14, 299</span> <span>households displaced</span></li>
                    <li><img class="ps-3" src="{% static 'images/rip.png' %}" style="width: 2.43em;"><span class="fw-bold ps-3">38</span> <span>persons have died</span></li>
                    <li class="pb-4"><img class="ps-3" src="{% static 'images/flooded-house.png' %}" style="width: 2.13em;"><span class="fw-bold ps-3">161, 552</span> <span>houses affected</span></li>
                </ul>
            </div>
        </div>
        <div class="col-md-5">
            <h4 class="h5 fw-bold">Flood Event: 25-01-2022</h4>
            <div class="card card-body border-0 p-0 mt-4">
                <ul class="fs-5">
                    <li class="pt-4"><i class="fas fa-hospital fa-lg ps-3"></i><span class="fw-bold ps-3">22</span> <span>health centres affected</span></li>
                    <li><i class="fas fa-school fa-lg ps-3"></i><span class="fw-bold ps-3">686</span> <span>schools affected</span></li>
                    <li><i class="fas fa-road fa-lg ps-3"></i><span class="fw-bold ps-3">2, 148, 433</span> <span>meters of road affected</span></li>
                    <li class="pb-4"><i class="fab fa-pagelines fa-lg ps-3"></i><span class="fw-bold ps-3">329, 754</span> <span>ha of agricultural land affected</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    {% include 'partners.html' %}
</div>
{% include 'footer.html' %}

{% endblock container %}



