{% extends "base.html" %}
{% load static %}

<!-- CSS files -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block container %}

{% include 'navigation.html' %}

<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <nav>
        <div class="nav nav-tabs flex-column" id="nav-tab" role="tablist">
            <button class="nav-link pt-3 pb-3" id="home" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="false" data-bs-toggle="tooltip" data-bs-placement="right" title="Menu"><i class="fas fa-bars fa-lg"></i></button>
            <button class="nav-link pt-3 pb-3" id="layer" data-bs-toggle="tab" data-bs-target="#nav-layer" type="button" role="tab" aria-controls="nav-layer" aria-selected="false" data-bs-toggle="tooltip" data-bs-placement="right" title="Layer Panel"><i class="fas fa-layer-group fa-lg"></i></button>
            <button class="nav-link pt-3 pb-3" id="basemap" data-bs-toggle="tab" data-bs-target="#nav-basemap" type="button" role="tab" aria-controls="nav-basemap" aria-selected="false" data-bs-toggle="tooltip" data-bs-placement="right" title="Basemap Style"><i class="fa fa-globe fa-lg"></i></button>
        </div>
    </nav>
</div>

<!-- Sidebar Content -->
<div class="sidebar-content" id="sidebar-content">
    <div class="tab-content mt-0 pt-0" id="nav-tabContent">    
        <!-- Default tab content area -->
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="home">  
            <button type="button" class="btn btn-home-close shadow-none" id="close-home-content" aria-label="Close" data-bs-toggle="tooltip" data-bs-placement="right" title="Close Menu"><i class="fas fa-arrow-left fa-lg"></i></button>
            <div class="accordion m-3" id="accordionExample">
                <!-- Date selection card -->
                <!-- <div class="accordion-item mb-2">
                    <h2 class="accordion-header text-white" id="dateSelection">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDateSelection" aria-expanded="true" aria-controls="collapseDateSelection">
                            <i class="fas fa-calendar pe-2"></i>Date Selection
                        </button>
                    </h2>
                    <div id="collapseDateSelection" class="accordion-collapse collapse show" aria-labelledby="dateSelection" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p> Select Date (YYYY-MM-DD) </p>
                            <div class="form-group ">
                                <input class = "form-control" id="date_selection"
                                name="date_selection"
                                type="text"
                                data-provide="datepicker"                          
                                data-date-autoclose="true"
                                data-date-format="yyyy-mm-dd"
                                data-date-min-view-mode="days"
                                data-date-multidate="1"
                                data-date-start-view="decade"
                                data-date-today-btn="false">
                            </div> 
                        </div>
                    </div>
                </div> -->
                <!-- Admin boundary selection card -->
                <!-- <div class="accordion-item mb-2" style="display: none;">
                    <h2 class="accordion-header text-white" id="adminSelection">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAdminSelection" aria-expanded="true" aria-controls="collapseAdminSelection">
                            <i class="fas fa-map pe-2"></i>Administrative Boundary Selection
                        </button>
                    </h2>
                    <div id="collapseAdminSelection" class="accordion-collapse collapse" aria-labelledby="adminSelection" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p> Select Administrative Boundary</p>
                            <select class="form-select" id="admin_selection">
                                <option value="all" selected>Mekong Region</option>
                                <option value="Cambodia">Cambodia</option>
                                <option value="Laos">Laos</option>
                                <option value="Burma">Myanmar</option>
                                <option value="Thailand">Thailand</option>
                                <option value="Vietnam">Vietnam</option>
                            </select>
                        </div>
                    </div>
                </div> -->
                <!-- Daily flood water card -->
                <div class="accordion-item mb-2">
                    <h2 class="accordion-header" id="floodMap">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFloodMap" aria-expanded="false" aria-controls="collapseFloodMap">
                            <i class="fa-solid fa-house-flood-water pe-2"></i> Potential Floods Water
                        </button>
                    </h2>
                    <div id="collapseFloodMap" class="accordion-collapse collapse show" aria-labelledby="floodMap" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" id="floodwaterCB" type="checkbox" value="floodwater" checked>
                                <label class="form-check-label" for="floodwaterCB"><b>Potential Floods Water Map</b><br><small>Checked to overlay flood water area estimated from satellite imagery analysis</small></label>
                            </div>
                            <p class="pt-3">Select Mode: </p>
                            <select class="form-select" id="mode_selection">
                                <option value="operational">Operational</option>
                                <option value="historical">Historical</option>
                            </select>
                            <div class="pt-3" id="update_historical_pfwl" style="display: none;">
                                <p> Select Date (YYYY-MM-DD) </p>
                                <h6 class="fs-6">Start Date</h6>
                                <div class="form-group ">
                                    <input class = "form-control" id="date_selection_start"
                                    name="date_selection_start"
                                    type="text"
                                    value="2021-01-01"
                                    data-provide="datepicker"                          
                                    data-date-autoclose="true"
                                    data-date-format="yyyy-mm-dd"
                                    data-date-min-view-mode="days"
                                    data-date-multidate="1"
                                    data-date-start-view="decade"
                                    data-date-today-btn="false">
                                </div> 
                                <h6 class="pt-3 fs-6">End Date</h6>
                                <div class="form-group ">
                                    <input class = "form-control" id="date_selection_end"
                                    name="date_selection_end"
                                    type="text"
                                    value="2022-05-25"
                                    data-provide="datepicker"                          
                                    data-date-autoclose="true"
                                    data-date-format="yyyy-mm-dd"
                                    data-date-min-view-mode="days"
                                    data-date-multidate="1"
                                    data-date-start-view="decade"
                                    data-date-today-btn="false" disabled>
                                    <span id="error"></span>
                                </div> 
                            </div>
                            <p class="pt-3">Select Sensor: </p>
                            <select class="form-select" id="sensor_selection">
                                <option value="all">All Merged</option>
                                <!-- <option value="sentinel1">Sentinel 1 (SAR)</option>
                                <option value="sentinel2">Sentinel 2</option>
                                <option value="landsat8">Landsat 8</option> -->
                                <option value="sar">SAR (Sentinel1)</option>
                                <option value="optical">Optical (Sentinel2 and Landsat 8)</option>
                                <option value="sar-optical">SAR and Optical (Intersected)</option> 
                            </select>
                            <p class="pt-3" id="ops_date"> Select Date (YYYY-MM-DD) </p>
                            <div class="form-group ">
                                <input class = "form-control" id="date_selection_ops"
                                name="date_selection_ops"
                                type="text"
                                value="2022-06-01"
                                data-provide="datepicker"                          
                                data-date-autoclose="true"
                                data-date-format="yyyy-mm-dd"
                                data-date-min-view-mode="days"
                                data-date-multidate="1"
                                data-date-start-view="decade"
                                data-date-today-btn="false">
                            </div> 
                            <div class="center_obj mt-4" id="update_his_pfwl_button" style="display: block;">
                                <button type="submit" id="update-historical-pfw-button" name="update-historical-pfw-button" class="btn btn-primary text-white text-center" style="width: 100%;"><i class="fa fa-refresh"></i> Update Floods Layer</button>
                            </div>
                            <label for="fwater-opacity" class="form-label pt-3">Opacity:</label><br>
                            <input id="fwater-opacity" data-slider-id='fwater-opacity' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
                            <!-- <button type="button" id="dwnld-button" name="dwnld-button" class="btn btn-primary text-white mt-5 mb-3"><i class="fa fa-download"></i>  Download Potential Flood Layer</button> -->
                            <!-- <a class="btn btn-primary text-white mt-5 mb-3" href="#" id="dwnld-button" name="dwnld-button" role="button"><i class="fa fa-download"></i>  Download Potential Flood Layer</a> -->
                        </div>
                    </div>
                </div>  

                <!-- Flood age card -->
                <div class="accordion-item mb-2">
                    <h2 class="accordion-header" id="floodAgeMap">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFloodAgeMap" aria-expanded="false" aria-controls="collapseFloodAgeMap">
                            <i class="fas fa-calendar-times pe-2"></i> Flood Age Map
                        </button>
                    </h2>
                    <div id="collapseFloodAgeMap" class="accordion-collapse collapse" aria-labelledby="floodAgeMap" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" id="floodageCB" type="checkbox" value="floodage">
                                <label class="form-check-label" for="floodageCB"><b>Flood Age Map</b><br><small>Checked to overlay flood age layer estimated from SAR data analysis</small></label>
                            </div>
                            <!-- <p> Select Age Days:</p>
                            <select class="form-select" id="age_type_selection">
                                <option value="age_days">All Merged Age</option>
                                <option value="flood_age_days">All Merged Flood Age</option>
                            </select> -->
                            <p class="pt-3" id="age_date"> Select Date (YYYY-MM-DD) </p>
                            <div class="form-group ">
                                <input class = "form-control" id="date_selection_age"
                                name="date_selection_age"
                                type="text"
                                value="2022-06-01"
                                data-provide="datepicker"                          
                                data-date-autoclose="true"
                                data-date-format="yyyy-mm-dd"
                                data-date-min-view-mode="days"
                                data-date-multidate="1"
                                data-date-start-view="decade"
                                data-date-today-btn="false">
                            </div> 
                            <p class="mt-3">Select Sensor:</p>
                            <select class="form-select" id="age_sensor_selection">
                                <option value="all">All Merged</option>
                                <!-- <option value="sentinel1">Sentinel 1 (SAR)</option>
                                <option value="sentinel2">Sentinel 2</option>
                                <option value="landsat8">Landsat 8</option> -->
                                <option value="sar">SAR (Sentinel1)</option>
                                <option value="optical">Optical (Sentinel12 and Landsat8)</option>
                            </select>
                            <label for="fwater-opacity" class="form-label pt-3">Opacity:</label><br>
                            <input id="fage-opacity" data-slider-id='fage-opacity' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
                        </div>
                    </div>
                </div>    
                
                <!-- Flood Duration card
                <div class="accordion-item mb-2">
                    <h2 class="accordion-header" id="floodDurationMap">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFloodDurationMap" aria-expanded="false" aria-controls="collapseFloodDurationMap">
                            <i class="fas fa-calendar-times pe-2"></i> Flood Duration Map
                        </button>
                    </h2>
                    <div id="collapseFloodDurationMap" class="accordion-collapse collapse" aria-labelledby="floodDurationMap" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" id="flooddurationCB" type="checkbox" value="floodduration" onchange="switchlayer('floodduration')">
                                <label class="form-check-label" for="flooddurationCB"><b>Flood Duration Map</b><br><small>Checked to overlay flood duration map estimated from Sentinel 1 satellite imagery analysis</small></label>
                            </div>
                            <label for="fduration-opacity" class="form-label">Opacity:</label><br>
                            <input id="fduration-opacity" data-slider-id='fduration-opacity' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
                        </div>
                    </div>
                </div>      -->
                
                <!-- Daily surface water card -->
                <!-- <div class="accordion-item mb-2">
                    <h2 class="accordion-header" id="surfaceWaterMap">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSurfaceWaterMap" aria-expanded="false" aria-controls="collapsesurfaceWaterMap">
                            <i class="fas fa-water pe-2"></i> Daily Surface Water
                        </button>
                    </h2>
                    <div id="collapseSurfaceWaterMap" class="accordion-collapse collapse" aria-labelledby="surfaceWaterMap" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" id="surfacewaterCB" type="checkbox" value="surfacewater" onchange="switchlayer('surfacewater')">
                                <label class="form-check-label" for="surfacewaterCB"><b>Surface Water Map</b><br><small>Checked to overlay surface water area estimated from satellite imagery analysis</small></label>
                            </div>
                            <p class="pt-3">Select Sensor: </p>
                            <select class="form-select" id="sensor_selection_swater">
                                <option value="sentinel1">Sentinel 1 (SAR)</option>
                                <option value="sentinel2">Sentinel 2</option>
                                <option value="landsat8">Landsat 8</option>
                            </select>
                            <label for="swater-opacity" class="form-label pt-3">Opacity:</label><br>
                            <input id="swater-opacity" data-slider-id='swater-opacity' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
                            <input id="swater-opacity" type="range" min="0" max="100" step="0" value="100">
                        </div>
                    </div>
                </div> -->
                <!-- Permanent water card -->
                <div class="accordion-item mb-2">
                    <h2 class="accordion-header" id="permanentWaterMap">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePermanentWaterMap" aria-expanded="false" aria-controls="collapsePermanentWaterMap">
                            <i class="fas fa-water pe-2"></i> Permanent Water
                        </button>
                    </h2>
                    <div id="collapsePermanentWaterMap" class="accordion-collapse collapse" aria-labelledby="permanentWaterMap" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" id="permanentwaterCB" type="checkbox" value="permanentwater">
                                <label class="form-check-label" for="permanentwaterCB"><b>Permanent Water Layer</b><br><small>Checked to overlay permamnet water area map estimated from Landsat satellite imagery analysis</small></label>
                            </div>
                            <label for="historical-opacity" class="form-label">Opacity:</label><br>
                            <input id="historical-opacity" data-slider-id='historical-opacity' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
                            <p class="pt-3">Select reference period:</p>
                            <table style="width:100%">
                                <tr>
                                    <td style="width:45%">
                                    <div class="form-group ">
                                        <input class = "form-control" id="start_year_selection_historical"
                                        name="end_year_selection_historical"
                                        type="text"
                                        data-provide="datepicker"
                                        value="2000"
                                        data-date-autoclose="true"
                                        data-date-clear-btn="true"
                                        data-date-format="yyyy"
                                        data-date-min-view-mode="years"
                                        data-date-multidate="1"
                                        data-date-start-view="years">
                                    </div>
                                    </td>
                                    <td style="width:10%; text-align: center;"><p>to</p></td>
                                    <td style="width:45%">
                                        <div class="form-group ">
                                            <input class = "form-control" id="end_year_selection_historical"
                                            name="end_year_selection_historical"
                                            type="text"
                                            data-provide="datepicker"
                                            value="2022"
                                            data-date-autoclose="true"
                                            data-date-clear-btn="true"
                                            data-date-format="yyyy"
                                            data-date-min-view-mode="years"
                                            data-date-multidate="1"
                                            data-date-start-view="years">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <p class="pt-3">Select seasonal period: </p>
                            <div style="width:95%; margin:3px;">
                                <input type="text" class="js-range-slider" id="month_range" name="month_range" />
                            </div>
                            <br>
                            <div class="center_obj" >
                                <button type="submit" id="update-button" name="update-button" class="btn btn-primary text-white" style="width: 100%;"><i class="fa fa-refresh"></i> Update Permanent Water Layer</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Precipitation data card -->
                <div class="accordion-item mb-2">
                    <h2 class="accordion-header" id="precipMap">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePrecipMap" aria-expanded="false" aria-controls="collapsePrecipMap">
                            <i class="fas fa-cloud-rain pe-2"></i>Precipitation Data
                        </button>
                    </h2>
                    <div id="collapsePrecipMap" class="accordion-collapse collapse" aria-labelledby="precipMap" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-check pb-2">
                                <input class="form-check-input" id="precipCB" type="checkbox" value="precip">
                                <label class="form-check-label" for="precipCB"><b>Precipitation Map</b><br><small>Checked to overlay precipitation map</small></label>
                            </div>
                            <p class="pt-3"> Select Date (YYYY-MM-DD) to Update Precipitation Map</p>
                            <div class="form-group pb-3">
                                <input class = "form-control" id="date_selection"
                                name="date_selection"
                                type="text"
                                data-provide="datepicker"                          
                                data-date-autoclose="true"
                                data-date-format="yyyy-mm-dd"
                                data-date-min-view-mode="days"
                                data-date-multidate="1"
                                data-date-start-view="decade"
                                data-date-today-btn="false">
                            </div> 
                            <label for="precip-opacity" class="form-label">Opacity:</label><br>
                            <input id="precip-opacity" data-slider-id='precip-opacity' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
                            <p class="pt-3">Select Accumulation Map:</p>
                            <select class="form-select" id="product_selection">
                                <option value="1|0">1 Day Accumulation</option>
                                <!-- <option value="2|0">2 Day Accumulation</option> -->
                                <option value="3|0">3 Day Accumulation</option>
                            </select>
                            <p class="pt-3">Select Colormap: </p>
                            <select class="form-select" id="cmap_selection">
                                <option value="nipy_spectral">nipy_spectral</option>
                                <option value="gist_ncar">gist_ncar</option>
                                <option value="cubehelix">cubehelix</option>
                            </select>
                        </div>
                    </div>
                </div>  
                <!-- DOY card -->
                <!-- <div class="accordion-item mb-2">
                    <h2 class="accordion-header" id="doyMap">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDOYMap" aria-expanded="false" aria-controls="collapseDOYMap">
                            <i class="fas fa-calendar-day pe-2"></i> DOY Map
                        </button>
                    </h2>
                    <div id="collapseDOYMap" class="accordion-collapse collapse" aria-labelledby="doyMap" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" id="doymapCB" type="checkbox" value="doymap" onchange="switchlayer('doymap')">
                                <label class="form-check-label" for="doymapCB"><b>DOY Map</b><br><small>Checked to overlay DOY map</small></label>
                            </div>
                            <label for="doy-opacity" class="form-label">Opacity:</label><br>
                            <input id="doy-opacity" data-slider-id='fwater-opacity' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
                        </div>
                    </div>
                </div>  -->
                <!-- Satellite imagery card -->
                <div class="accordion-item mb-2">
                    <h2 class="accordion-header" id="satelliteImagery">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSatelliteImagery" aria-expanded="false" aria-controls="collapseSatelliteImagery">
                            <i class="fas fa-satellite pe-2"></i> Raw Satellite Imagery
                        </button>
                    </h2>
                    <div id="collapseSatelliteImagery" class="accordion-collapse collapse" aria-labelledby="satelliteImagery" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" id="gibsCB" type="checkbox" value="gibs">
                                <label class="form-check-label" for="gibsCB"><b>NRT Browse Imagery</b><br><small>Checked to overlay various types of raw satellite image</small></label>
                            </div>
                            <p class="pt-3"> Select Date (YYYY-MM-DD) to Overlay Raw Satellite Imagery</p>
                            <div class="form-group pb-3">
                                <input class = "form-control" id="date_selection_simg"
                                name="date_selection_simg"
                                type="text"
                                data-provide="datepicker"                          
                                data-date-autoclose="true"
                                data-date-format="yyyy-mm-dd"
                                data-date-min-view-mode="days"
                                data-date-multidate="1"
                                data-date-start-view="decade"
                                data-date-today-btn="false">
                            </div> 
                            <p>Select Browse Imagery:</p>
                            <select class="form-select" id="browse_selection">
                                <option value="1|VIIRS_SNPP_CorrectedReflectance_TrueColor">VIIRS NRT TRUE COLOR</option>
                                <option value="2|VIIRS_SNPP_CorrectedReflectance_BandsM11-I2-I1">VIIRS NRT NATURAL COLOR</option>
                                <option value="3|MODIS_Aqua_CorrectedReflectance_TrueColor">MODIS AQUA TRUE COLOR</option>
                                <option value="4|MODIS_Aqua_CorrectedReflectance_Bands721">MODIS AQUA NATURAL COLOR</option>
                                <option value="5|MODIS_Terra_CorrectedReflectance_TrueColor">MODIS TERRA TRUE COLOR</option>
                                <option value="5|MODIS_Terra_CorrectedReflectance_Bands721">MODIS TERRA NATURAL COLOR</option>
                            </select>
                            <label for="browse-opacity" class="form-label pt-3">Opacity:</label><br>
                            <input id="browse-opacity" data-slider-id='browse-opacity' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <!--Layer tab content area -->
            <div class="tab-pane fade" id="nav-layer" role="tabpanel" aria-labelledby="nav-layer-tab">          
                <div class="layer-header"><button type="button" class="btn btn-layer-close shadow-none" id="close-layer-content" aria-label="Close" data-bs-toggle="tooltip" data-bs-placement="right" title="Close Layer Panel"><i class="fas fa-arrow-left fa-lg"></i></button><span class="fw-bold fs-5">Layer Panel</span></div>
                    <div class="card card-body layer-card m-2 border-0">
                        <!-- <div class="form-check form-switch">
                            <input class="form-check-input" id="hospitalCB" type="checkbox" value="hospital" onchange="toggleLayer('hospital')" name="hospital" checked>
                            <label class="form-check-label" for="hospitalCB">Hospital</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" id="educationCB" type="checkbox" value="education" onchange="toggleLayer('education')" name="education" checked>
                            <label class="form-check-label" for="educationCB">Educational Institutions</label>
                        </div> -->
                        <div class="form-check form-switch">
                            <input class="form-check-input" id="adm0CB" type="checkbox" value="adm0" onchange="toggleLayer('adm0')" name="adm0" checked>
                            <label class="form-check-label" for="adm0CB">Country Boundary</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" id="adm1CB" type="checkbox" value="adm1" onchange="toggleLayer('adm1')" name="adm1" checked>
                            <label class="form-check-label" for="adm1CB">Province Boundary</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" id="adm2CB" type="checkbox" value="adm2" onchange="toggleLayer('adm2')" name="adm2" checked>
                            <label class="form-check-label" for="adm2CB">District Boundary</label>
                        </div>
                        <!-- <div class="form-check form-switch pt-2">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Country Boundary</label>
                        </div> -->
                    </div>
                </div>

        <!-- Basemap tab content area -->
        <div class="tab-pane fade nav-basemap" id="nav-basemap" role="tabpanel" aria-labelledby="nav-basemap-tab">
            <div class="layer-header"><button type="button" class="btn btn-layer-close shadow-none" id="close-basemap-content" aria-label="Close" data-bs-toggle="tooltip" data-bs-placement="right" title="Close Basemap"><i class="fas fa-arrow-left fa-lg"></i></button><span class="fw-bold fs-5">Basemap Style</span></div>
            <!-- Basemap from MapBox -->
            <div class="card basemap-card active m-4" data-layer="dark-v10">
                <div class="d-flex flex-row bd-highlight">
                    <div class="bd-highlight"><img src="{% static 'images/mapbox-dark.png' %}" class="basemap-img" height="60px" width="60px" alt="MapBox World Dark Streets Map"></div>
                    <div class="bd-highlight pt-3 ps-4">
                        <h6>MapBox Dark Map<br><small>MapBox World Dark Streets Map</small></h6>    
                    </div>
                </div>
            </div>
            <div class="card basemap-card m-4" data-layer="streets-v11">
                <div class="d-flex flex-row bd-highlight">
                    <div class="bd-highlight"><img src="{% static 'images/mapbox-streets.png' %}" class="basemap-img" height="60px" width="60px" alt="MapBox World Streets Map"></div>
                    <div class="bd-highlight pt-3 ps-4">
                        <h6>Streets Map<br><small>MapBox World Streets Map</small></h6>    
                    </div>
                </div>
            </div>
            <div class="card basemap-card m-4" data-layer="satellite-v9">
                <div class="d-flex flex-row bd-highlight">
                    <div class="bd-highlight"><img src="{% static 'images/mapbox-satellite.png' %}" class="basemap-img" height="60px" width="60px" alt="MapBox World Satellite Map"></div>
                    <div class="bd-highlight pt-3 ps-4">
                        <h6>Satellite Map<br><small>MapBox World Satellite Map</small></h6>    
                    </div>
                </div>
            </div>
            <div class="card basemap-card m-4" data-layer="light-v10">
                <div class="d-flex flex-row bd-highlight">
                    <div class="bd-highlight"><img src="{% static 'images/mapbox-light.png' %}" class="basemap-img" height="60px" width="60px" alt="MapBox World Light Map"></div>
                    <div class="bd-highlight pt-3 ps-4">
                        <h6>Light Map<br><small>MapBox World Light Map</small></h6>    
                    </div>
                </div>
            </div>
            <div class="card basemap-card m-4" data-layer="outdoors-v11">
                <div class="d-flex flex-row bd-highlight">
                    <div class="bd-highlight"><img src="{% static 'images/mapbox-outdoor.png' %}" class="basemap-img" height="60px" width="60px" alt="MapBox World Outdoors Map"></div>
                    <div class="bd-highlight pt-3 ps-4">
                        <h6>Outdoors Map<br><small>MapBox World Outdoors Map</small></h6>    
                    </div>
                </div>
            </div> 
            <div class="card basemap-card m-4" data-layer="mb-galaxy">
                <div class="d-flex flex-row bd-highlight">
                    <div class="bd-highlight"><img src="{% static 'images/mb-galaxy.png' %}" class="basemap-img" height="60px" width="60px" alt="MapBox World Outdoors Map"></div>
                    <div class="bd-highlight pt-3 ps-4">
                        <h6>Blue Light Map<br><small>MapBox Basic Map</small></h6>    
                    </div>
                </div>
            </div> 

            <!-- OSM Basemap -->
            <div class="card basemap-card m-4" data-layer="osm">
                <div class="d-flex flex-row bd-highlight">
                    <div class="bd-highlight"><img src="{% static 'images/osm.png' %}" class="basemap-img" height="60px" width="60px" alt="OSM World Streets Map"></div>
                    <div class="bd-highlight pt-3 ps-4">
                        <h6>OpenStreetMap<br><small>OSM World Streets Map</small></h6>    
                    </div>
                </div>
            </div>
            <!-- Basemap from Esri -->
            <div class="card basemap-card m-4" data-layer="street">
                <div class="d-flex flex-row bd-highlight">
                    <div class="bd-highlight"><img src="{% static 'images/esri-street.png' %}" class="basemap-img" height="60px" width="60px" alt="Esri World Streets Basemap"></div>
                    <div class="bd-highlight pt-3 ps-4">
                        <h6>Esri Streets<br><small>Esri World Streets Basemap</small></h6>    
                    </div>
                </div>
            </div>
            <div class="card basemap-card m-4" data-layer="satellite">
                <div class="d-flex flex-row bd-highlight">
                    <div class="bd-highlight"><img src="{% static 'images/esri-satellite.png' %}" class="basemap-img" height="60px" width="60px" alt="Esri World Satellite Imagery"></div>
                    <div class="bd-highlight pt-3 ps-4">
                        <h6>Satellite Map<br><small>Esri World Satellite Imagery</small></h6>    
                    </div>
                </div>
            </div>
            <div class="card basemap-card m-4" data-layer="topo">
                <div class="d-flex flex-row bd-highlight">
                    <div class="bd-highlight"><img src="{% static 'images/esri-topo.png' %}" class="basemap-img" height="60px" width="60px" alt="Esri World Topographic Map"></div>
                    <div class="bd-highlight pt-3 ps-4">
                        <h6>Topographic Map<br><small>Esri World Topographic Map</small></h6>    
                    </div>
                </div>
            </div>
            <div class="card basemap-card m-4" data-layer="terrain">
                <div class="d-flex flex-row bd-highlight">
                    <div class="bd-highlight"><img src="{% static 'images/esri-terrain.png' %}" class="basemap-img" height="60px" width="60px" alt="Esri World Terrain Basemap"></div>
                    <div class="bd-highlight pt-3 ps-4">
                        <h6>Terrain Map<br><small>Esri World Terrain Basemap</small></h6>    
                    </div>
                </div>
            </div>
            <div class="card basemap-card m-4" data-layer="gray">
                <div class="d-flex flex-row bd-highlight">
                    <div class="bd-highlight"><img src="{% static 'images/esri-gray.png' %}" class="basemap-img" height="60px" width="60px" alt="Esri World Gray Map"></div>
                    <div class="bd-highlight pt-3 ps-4">
                        <h6>Gray Map<br><small>Esri World Gray Map</small></h6>    
                    </div>
                </div>
            </div>
            <!-- Basemap from Carto Map -->
            <div class="card basemap-card m-4" data-layer="dark">
                <div class="d-flex flex-row bd-highlight">
                    <div class="bd-highlight"><img src="{% static 'images/carto-dark.png' %}" class="basemap-img" height="60px" width="60px" alt="Carto World Dark Map"></div>
                    <div class="bd-highlight pt-3 ps-4">
                        <h6>Dark Map<br><small>Carto World Dark Map</small></h6>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="map" id="map"></div>

<div class="map-overlay top">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <h6 class="pt-2 ps-3">The map is updated as of <span id="mesg-date" class="fw-bold"></span></h6>
</div>

<div class="error-overlay" id="error-overlay" style="display: none;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <h6 class="pt-2 ps-3" id="error-mesg" class="fw-bold">No data found on this date. Please select another date.</h6>
</div>

<div class="map-overlay-loader top">
    <div class="loader"id="loader">
        <!-- <img src="/static/images/loading-gif.gif" width="80px"> -->
    </div>
</div>


<div id="legend" class="legend">
    <div class="row">
        <div class="col-md-12">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingLegend">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseLegend" aria-expanded="true" aria-controls="panelsStayOpen-collapseLegend">
                            Legend
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseLegend" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingLegend">
                        <div class="accordion-body">
                            <!-- <h4 class="fw-bold h5">Legend</h4> -->
                            <div class="row">
                                <div class="col-md-12 lg-content">
                                    <div class="accordion" id="accordionPanelsStayOpenExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                                    Water/Flood Layers
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                                <div class="accordion-body">
                                                    <!-- <div id="fwater-legend" style="display: block; padding-bottom: 5px;"><span><div style="background-color: #e57373; width:18px; height: 18px;"></div></span> Potential Floods Water</div> -->
                                                    <div id="fwater-legend" style="display: block; padding-bottom: 5px;"><span><div style="background-color: yellow; width:18px; height: 18px;"></div></span> Flooded Water (SAR)</div>
                                                    <div id="fwater-legend" style="display: block; padding-bottom: 5px;"><span><div style="background-color: orange; width:18px; height: 18px;"></div></span> Flooded Water (Optical)</div>
                                                    <div id="fwater-legend" style="display: block; padding-bottom: 5px;"><span><div style="background-color: red; width:18px; height: 18px;"></div></span> Flooded Water All (Merged)</div>
                                                    <div id="fwater-legend" style="display: block; padding-bottom: 5px;"><span><div style="background-color: #33ccff; width:18px; height: 18px;"></div></span> Seasonal</div>
                                                    <div id="swater-legend" style="display: none; padding-bottom: 5px;"><span><div style="background-color: #2389da; width:18px; height: 18px;"></div></span> Daily Surface Water</div>
                                                    <div id="pwater-legend" style="display: block; padding-bottom: 5px;"><span><div style="background-color: #00008b; width:18px; height: 18px;"></div></span> Permament/regular Water</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                                    Administrative Layers
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                                <div class="accordion-body">
                                                    <div id="adm1-legend" style="display: block; padding-bottom: 5px;"><span><div style="background-color: rgba(200, 230, 201, 1); border: 2px solid rgba(200, 230, 201, 1); width:18px; height: 18px;"></div></span> Country Boundary</div>
                                                    <div id="adm2-legend" style="display: block; padding-bottom: 5px;"><span><div style="background-color: #bdbdbd; border: 2px solid #bdbdbd; width:18px; height: 18px;"></div></span> Province Boundary</div>
                                                    <div id="adm3-legend" style="display: block; padding-bottom: 5px;"><span><div style="background-color: #fff9c4; border: 2px solid #fff9c4; width:18px; height: 18px;"></div></span> District Boundary</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                                    Facilities
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                                <div class="accordion-body">
                                                    <div id="edu-legend" style="display: block; padding-bottom: 5px;"><span><div><img src="/static/images/education.png" style="width:18px; height: 18px;" alt="Educational Institutions"></div></span> Educational Institutions</div>
                                                    <div id="health-legend" style="display: block; padding-bottom: 5px;"><span><div><img src="/static/images/hospital.png" style="width:18px; height: 18px;" alt="Educational Institutions"></div></span> Health Care Facilities</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseFour">
                                                    Flood Age Layer
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                                                <div class="accordion-body">
                                                    <!-- <div id="fldage-legend" style="display: block; padding-bottom: 5px;"><img src="/static/images/flood_age_legend.png" style="width: 200px; height: 50px;" alt="Flood Age Legend"></div> -->
                                                    <div id="fldage-legend" style="display: block; padding-bottom: 5px;"><span><div style="background-color: #ae017e; width:18px; height: 18px;"></div></span> 0-1</div>
                                                    <div id="fldage-legend" style="display: block; padding-bottom: 5px;"><span><div style="background-color: #f768a1; width:18px; height: 18px;"></div></span> 2-3</div>
                                                    <div id="fldage-legend" style="display: block; padding-bottom: 5px;"><span><div style="background-color: #fbb4b9; width:18px; height: 18px;"></div></span> 4-5</div>
                                                    <div id="fldage-legend" style="display: block; padding-bottom: 5px;"><span><div style="background-color: #feebe2; width:18px; height: 18px;"></div></span> 6+</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item" style="display: none;">
                                            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="true" aria-controls="panelsStayOpen-collapseFive">
                                                    Flood Duration Layer
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                                                <div class="accordion-body">
                                                    <div id="flduration-legend" style="display: block; padding-bottom: 5px;"><img src="/static/images/flood_duration_legend.png" style="width: 200px; height: 50px;" alt="Flood Duration Legend"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="true" aria-controls="panelsStayOpen-collapseSix">
                                                    Precipitation Layer
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                                                <div class="accordion-body">
                                                    <div id="precip-legend" style="display: block; padding-bottom: 5px;"><img src="/static/images/precip_colorbar.png" style="width:200px; height: 70px;" alt="Precipitation Legend"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- <h6 class="h6 pt-3 fw-500">Water Layers</h6>
    <div id="fwater-legend" style="display: block; padding-bottom: 5px;"><span><div style="background-color: #e57373; width:18px; height: 18px;"></div></span> Potential Floods Water</div>
    <div id="swater-legend" style="display: none; padding-bottom: 5px;"><span><div style="background-color: #2389da; width:18px; height: 18px;"></div></span> Daily Surface Water</div>
    <div id="pwater-legend" style="display: block; padding-bottom: 5px;"><span><div style="background-color: #00008b; width:18px; height: 18px;"></div></span> Permament Water</div>
    

    <h6 class="h6 pt-3 fw-500">Administrative Boundary</h6>
    <div id="adm1-legend" style="display: block; padding-bottom: 5px;"><span><div style="background-color: rgba(200, 230, 201, 1); border: 2px solid rgba(200, 230, 201, 1); width:18px; height: 18px;"></div></span> Country Boundary</div>
    <div id="adm2-legend" style="display: block; padding-bottom: 5px;"><span><div style="background-color: #bdbdbd; border: 2px solid #bdbdbd; width:18px; height: 18px;"></div></span> Province Boundary</div>
    <div id="adm3-legend" style="display: block; padding-bottom: 5px;"><span><div style="background-color: #fff9c4; border: 2px solid #fff9c4; width:18px; height: 18px;"></div></span> District Boundary</div>

    <h6 class="h6 pt-3 fw-500"></h6>
    <div id="edu-legend" style="display: block; padding-bottom: 5px;"><span><div><img src="/static/images/education.png" style="width:18px; height: 18px;" alt="Educational Institutions"></div></span> Educational Institutions</div>
    <div id="health-legend" style="display: block; padding-bottom: 5px;"><span><div><img src="/static/images/hospital.png" style="width:18px; height: 18px;" alt="Educational Institutions"></div></span> Health Care Facilities</div> -->

</div>

{% endblock container %}

<!-- Extra JS files -->
{% block extra_script %}
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}
