
{% extends "base.html" %}
{% load static %}

<!-- CSS files -->
{% block extra_css %}
<style>
    #map { height: 600px; width: 100%; }
</style>
{% endblock %}

{% block container %}

{% include 'navigation.html' %}

<div id="map"></div>

{% endblock container %}

<!-- Extra JS files -->
{% block extra_script %}
<script>
	mapboxgl.accessToken = 'pk.eyJ1Ijoia2FtYWxoMjciLCJhIjoiY2t3b2Roc2M3MDF2bDJ2cDY0ZmppdXl0MCJ9.Gn5rUJgaap_KDcnhyROMzQ';
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [97.9560, 17.9162],
        zoom: 4
    });
    map.on('load', () => {
        map.addLayer({
            id: 'raster-layer',
            type: 'raster',
            source: {
            type: 'raster',
            tiles: [
                'https://api.mapbox.com/v4/kamalh27.hf-8/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoia2FtYWxoMjciLCJhIjoiY2t3b2Roc2M3MDF2bDJ2cDY0ZmppdXl0MCJ9.Gn5rUJgaap_KDcnhyROMzQ'
            ]
            },
            minzoom: 0,
            maxzoom: 22
        });
    });
</script>
{% endblock %}