{% extends "base.html" %}
{% load static %}

<!-- CSS files -->
{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/css/ol.css" type="text/css">
<style>
    .map{
        width: 100%;
        height: 800px;
    }
</style>

{% endblock %}

{% block container %}

{% include 'navigation.html' %}

<div id="map" class="map"></div>

{% endblock container %}


<!-- Extra JS files -->
{% block extra_script %}

    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/build/ol.js"></script>
   
    <script type="text/javascript">

        // const source = new ol.source.GeoTIFF({
        //     sources: [{
        //             // url: 'https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/2020/S2A_36QWD_20200701_0_L2A/TCI.tif',
        //             url: 'http://127.0.0.1:8000/static/data/cog-kh-30.tif'
        //         },
        //     ],
        // });

        // var map = new ol.Map({
        //   target: 'map',
        //   layers: [
        //     new ol.layer.Tile({
        //       source: new ol.source.OSM()
        //     }),
        //     new ol.layer.Tile({
        //         source: source,
        //     }),
        //   ],
        //   view: new ol.View({
        //     center: ol.proj.fromLonLat([97.9560, 17.9162]),
        //     zoom: 4
        //   })
        // });

        // fetch('https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/2020/S2A_36QWD_20200701_0_L2A/TCI.tif')
        // .then((response) => response.blob())
        // .then((blob) => {
        //   const source = new ol.source.GeoTIFF({
        //     sources: [
        //       {
        //         blob: blob,
        //       },
        //     ],
        // });

    const map = new ol.Map({
      target: 'map',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM()
        }),

        new ol.layer.Tile({
          source: new ol.source.TileWMS({
            url: 'https://hydrafloods-servir.adpc.net/geoserver/hydraflood/wms',
            params: {'LAYERS': 'hydraflood:kh_all', 'TILED': true},
            serverType: 'geoserver',
            // Countries have transparency, so do not fade tiles:
            transition: 0,
          }), 
        })
      ],
      view: new ol.View({
            center: ol.proj.fromLonLat([104.9910, 12.5657]),
            zoom: 8
      })
    });
  
    </script>
{% endblock %}








<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
    <style>
        .map{
            width: 100%;
            height: 800px;
        }
    </style>
</head>
<body>

    <div id="map" class="map"></div>

    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>

        var map = L.map('map').setView([17.9162, 97.9560], 10);

        //Define Earth Engine Flood Layer
        // var flood_layer = L.tileLayer('', {
        //     attribution: '&copy; <a href="https://earthengine.google.com" target="_blank">Google Earth Engine</a> contributors'
        // }).addTo(map);

        var selected_start_date = "2022-07-12";
        var selected_end_date = "2022-07-12";
        var selected_mode = "operational";
        var pfl_sensor_selection = "all";

        //Get Daily Surface Water Area Layer 
        $.ajax({
            url: '/ajax/potentialfloodmap/',
            type: "GET",
            data: {
                "selected_start_date": selected_start_date,
                "selected_end_date": selected_end_date,
                //"selected_adm": selected_adm,
                "selected_mode": selected_mode,
                "selected_sensor": pfl_sensor_selection
            },
            dataType: 'json',
            success: (data) => {
                console.log(data);
                // flood_layer.setUrl(data);
                // flood_layer.setOpacity(0.5);
                var flood_layer = L.tileLayer(data, {
                    tileSize: 256,
                    attribution: '&copy; <a href="https://earthengine.google.com" target="_blank">Google Earth Engine</a> contributors'
                }).addTo(map);

            },
            error: (error) => {
                console.log(error);
            }
        });

        var basemap = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    </script>

</body>
</html> -->