{% load static %}
<div class="row mt-5 mb-5 partner">
    <h3 class="h4 fw-bold pb-5">OUR PARTNERS</h3>
    <div class="col-md-3">
        <img class="img-fluid partner-sig" src="{% static 'images/sig.png' %}" alt="SERVIR-MEKONG">
    </div>
    <div class="col-md-3 text-center">
        <img class="img-fluid partner-sei" src="{% static 'images/sei.png' %}" alt="SERVIR-MEKONG">
    </div>
    <div class="col-md-3 text-center">
        <img class="img-fluid partner-deltares" src="{% static 'images/deltares.jpg' %}" alt="SERVIR-MEKONG">
    </div>
    <div class="col-md-3 text-end">
        <img class="img-fluid partner-wfp" src="{% static 'images/wfp-logo.png' %}" alt="SERVIR-MEKONG">
    </div>
</div>