{% load static %}
<div class="row mt-5 mb-5 partner">
    <div class="col-md-4">
        <img class="img-fluid partner-sig" src="{% static 'images/sig.png' %}" alt="SERVIR-MEKONG">
    </div>
    <div class="col-md-4 text-center">
        <img class="img-fluid partner-sei" src="{% static 'images/sei.png' %}" alt="SERVIR-MEKONG">
    </div>
    <div class="col-md-4">
        <img class="img-fluid partner-deltares" src="{% static 'images/deltares.png' %}" alt="SERVIR-MEKONG">
    </div>
</div>